:root {
  --accent-color: rgba(255, 0, 112, 1);
  --title-color:rgba(219, 0, 255, 1);
  --text-color:rgba(241, 178, 206, 1);
  --img-bg: url(../images/cover-image-dark.png);
  --border-color: rgba(255, 0, 112, 1);
}