:root {
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --title-decor-color: #000028;
  --page-bg-image: url(../images/cover-image-dark.png);
  --border-color: rgba(255, 0, 112, 1);
  --bg-decor-color: #FF0070;
  --button-color: #FF0070;
  --border-button-color:#FF0070;
  --border-button-color-hover:#FF007066;
  --outline-link: #F1B2CE;
  --title-text-color: #FF0070;

  --main-font: 'IBM Plex Mono', monospace;
  --main-font-size: 18px;
  --section-padding-wide: 30px 20px;
  --gallery-section-margin-bottom: 40px;
  --header-title-margin-bottom: 55px;
  --header-title-text-margin-bottom: 56px;
  --header-margin-bottom: 50px;
  --theme-menu-list-margin-bottom: 65px;
}